@use 'variables' as *;

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 10px;

    .content {
        width: 50%;
    }
    
    h1 {
        font-size: 48px;
        color: $primary-color;
    }
    
    p {
        font-size: $font-size-primBut-p;
    }
    
    img {
        width: 40%;
    }
}
