@mixin responsive($max-screen-size){
    @media screen and (max-width: $max-screen-size){
        @content;
    }
}

$breakpoint-medium: 992px;

$primary-color: #ff7e5f;
$gradient-color: #feb47b;
$text-color: white;
$features-background-color: #f3f3f3;
$background-color: white;
$footer-background-color: #222;
$box-shadow-color: 0 2px 10px rgba(0, 0, 0, 0.1);
$primary-font: Arial, sans-serif;
$card-footer-padding: 20px;
$padding-primBut-navbar: 15px 30px;
$font-size-primBut-p: 18px;
$body-text-color: #333;
$primBut-hover-shadow-color: 0px 5px 15px rgba(255, 126, 95, 0.4);
$logo-font-size: 24px;

/* General Styles */
body {
    font-family: $primary-font;
    color: $body-text-color;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 32px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-primBut-navbar;
    box-shadow: $box-shadow-color;
    margin-bottom: 10px;
        
    .logo {
        font-size: $logo-font-size;
        font-weight: bold;
        color: $primary-color;
    }

    .nav-links {
        list-style: none;
        padding: 0;
        
        li {
            display: inline-block;
            margin: 0 10px;
        }

        a {
            text-decoration: none;
            font-weight: bold;
            
            &:hover {
                color: $primary-color;
            }
        }
    }
}

/* Primary Button */
.primary-btn {
    display: inline-block;
    padding: $padding-primBut-navbar;
    cursor: pointer;
    
    font-size: $font-size-primBut-p;
    font-weight: bold;
    color: $text-color;

    text-decoration: none;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, $primary-color, $gradient-color);

    &:hover {
        box-shadow: $primBut-hover-shadow-color;
    }
}

/* Main Section */
.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 10px;

    .content {
        width: 50%;
    }
    
    h1 {
        font-size: 48px;
        color: $primary-color;
    }
    
    p {
        font-size: $font-size-primBut-p;
    }
    
    img {
        width: 40%;
    }
}

/* Features & Plans Sections */
.features {
    background: $features-background-color;
}
.center-section {
    text-align: center;
    padding: 50px 10px;
}
.card-list {
    display: flex;
    justify-content: space-between;
}
.card {
    background: $background-color;
    padding: $card-footer-padding;
    width: 27%;
    border-radius: 10px;
    box-shadow: $box-shadow-color;
}

/* Footer */
.footer {
    text-align: center;
    padding: $card-footer-padding;
    background: $footer-background-color;
    color: $text-color;
}

/* Responsive */
@include responsive($breakpoint-medium){
    .card-list {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .card {
        width: 80%;
    }
}


